$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.hero {
  background-image: "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTx2kcy5tLvQqau_fQdvjr8pLi1UBTuw4dgG9n4i-rrRsnT7J4vMQ";
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.logo {
  display: flex;
  max-height: 305.5px;
  max-width: 216px;
}
.callToAction {
  display: flex;
}
.row.featurette {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px 15px;
  }

.features  {
  padding: 0px 15px;
}



@media screen and (max-width: 450px) {
  .hidden-xxs {
    display: none;
  }
  h2.featurehead {
    font-size: 16px;
    line-height: 20px;
  }
  .lead {
    font-size: 12px;
    line-height: normal;
  }
}

@media screen and (max-width: 750px) {
  h2.featurehead {
    font-size: 20px;
    line-height: 25px;
  }
  .lead {
    font-size: 14px;
    line-height: normal;
  }
}


// .featurehead {
//   h2  {
//     font-size: medium;
//   }
// }

.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-top: -70px;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.btn.greenlanding {
	color: #ffffff;
	background: #51d466;
	border: 1px solid #30c247;
  padding-top: 15px;
}

.btn.lbluelanding {
	color: #ffffff;
	background: #32c8de;
	border: 1px solid #1faabe;
  padding-top: 15px;
}

.btn.redlanding {
	color: #ffffff;
	background: #ed5441;
	border: 1px solid #e52d16;
  padding-top: 15px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* from theme */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General */
body {
  padding-top: 70px;
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}
h1 {
	font-size: 30px;
	line-height: 45px;
}
h2 {
	font-size: 25px;
	line-height: 40px;
}
h3 {
	font-size: 22px;
	line-height: 37px;
}
h4 {
	font-size: 18px;
	line-height: 33px;
}
h5 {
	font-size: 15px;
	line-height: 30px;
}
h6 {
	font-size: 13px;
	line-height: 28px;
}
p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}
a{
	text-decoration: none;
	color: #777;
}
a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
/* Text color classes */
.white {
  color: #ffffff !important;
}
.grey {
  color: #eeeeee !important;
}
.black {
  color: #555555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.rose {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/* Background color classes */
.bg-white {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #eeeeee !important;
}
.bg-black {
  background-color: #555555 !important;
}
.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}
.bg-lblue {
  background-color: #32c8de !important;
}
.bg-blue {
  background-color: #609cec !important;
}
.bg-orange {
  background-color: #f78153 !important;
}
.bg-lorange {
  background-color:rgba(247, 129, 83, .6) !important;
}

.bg-yellow {
  background-color: #fcd419 !important;
}
.bg-purple {
  background-color: #cb79e6 !important;
}
.bg-rose {
  background-color: #ff61e7 !important;
}
.bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
  border: 1px solid #ffffff !important;
}
.br-grey {
  border: 1px solid #eeeeee;
}
.br-black {
  border: 1px solid #555555;
}
.br-red {
  border: 1px solid #f75353;
}
.br-green {
  border: 1px solid #51d466;
}
.br-lblue {
  border: 1px solid #32c8de;
}
.br-blue {
  border: 1px solid #609cec;
}
.br-orange {
  border: 1px solid #f78153;
}
.br-yellow {
  border: 1px solid #fcd419;
}
.br-purple {
  border: 1px solid #cb79e6;
}
.br-rose {
  border: 1px solid #ff61e7;
}
.br-brown {
  border: 1px solid #d08166;
}

/* Button classes */
.btn {
	border-radius: 2px;
	position: relative;
}
.btn.btn-no-border {
	border: 0px !important;
}
/* Button colors */
.btn.btn-white {
	background: #ffffff;
	color: #666666;
	border: 1px solid #dddddd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active {
	background: #f7f7f7;
	color: #666666;
}
.btn.btn-grey {
	background: #eeeeee;
	color: #666666;
	border: 1px solid #d5d5d5;
}
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active {
	background: #d5d5d5;
	color: #999;
}
.btn.btn-black {
	color: #ffffff;
	background: #666666;
	border: 1px solid #4d4d4d;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active {
	background: #4d4d4d;
	color: #ffffff;
}
.btn.btn-red {
	color: #ffffff;
	background: #ed5441;
	border: 1px solid #e52d16;
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active {
	color: #ffffff;
	background: #e52d16;
}
.btn.btn-green {
	color: #ffffff;
	background: #51d466;
	border: 1px solid #30c247;
}
.btn.greenlanding {
	color: #ffffff;
	background: #51d466;
	border: 1px solid #30c247;
  margin-top: 15px;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
	background: #30c247;
	color: #ffffff;
}
.btn.btn-lblue {
	color: #ffffff;
	background: #32c8de;
	border: 1px solid #1faabe;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:focus,
.btn.btn-lblue.active,
.btn.btn-lblue:active {
	background: #1faabe;
	color: #ffffff;
}
.btn.btn-blue {
	color: #ffffff;
	background: #609cec;
	border: 1px solid #3280e7;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active {
	background: #3280e7;
	color: #ffffff;
}
.btn.btn-orange {
	color: #ffffff;
	background: #f8a841;
	border: 1px solid #f69110;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active {
	background: #f69110;
	color: #ffffff;
}
.btn.btn-yellow {
	background: #fcd419;
	color: #ffffff;
	border: 1px solid #dfb803;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active {
	background: #dfb803;
	color: #ffffff;
}
.btn.btn-purple {
	background: #cb79e6;
	color: #ffffff;
	border: 1px solid #ba4ede;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active {
	background: #ba4ede;
	color: #ffffff;
}
.btn.btn-rose {
	background: #ff61e7;
	color: #ffffff;
	border: 1px solid #ff2edf;
}
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose.active,
.btn.btn-rose:active {
	background: #ff2edf;
	color: #ffffff;
}
.btn.btn-brown {
	background: #d08166;
	color: #ffffff;
	border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
	background: #c4613f;
	color: #ffffff;
}
/* Label */
.label {
	border-radius: 2px;
	font-weight: normal;
	padding: 3px 7px;
	font-size: 12px;
	line-height: 18px;
}
/* Label sizes */
.label.label-xs {
	font-size: 10px;
	padding: 1px 5px;
	line-height: 12px;
}
.label.label-sm {
	font-size: 11px;
	padding: 2px 6px;
	line-height: 15px;
}
.label.label-lg {
	font-size: 13px;
	padding: 5px 9px;
	line-height: 23px;
}
/* Label colors */
.label.label-white{
	color: #666666 !important;
	background: #f7f7f7;
}
.label.label-grey {
	color: #666666 !important;
	background: #eeeeee;
}
.label.label-black {
	color: #ffffff;
	background: #666666;
}
.label.label-red {
	color: #ffffff;
	background: #ed5441;
}
.label.label-green {
	color: #ffffff;
	background: #51d466;
}
.label.label-lblue {
	color: #ffffff;
	background: #32c8de;
}
.label.label-blue {
	color: #ffffff;
	background: #609cec;
}
.label.label-orange {
	color: #ffffff;
	background: #f8a841;
}
.label.label-yellow {
	background: #fcd419;
	color: #ffffff;
}
.label.label-purple {
	background: #cb79e6;
	color: #ffffff;
}
.label.label-rose {
	background: #ff61e7;
	color: #ffffff;
}
.label.label-brown {
	background: #d08166;
	color: #ffffff;
}
/* Badges */
.badge {
	width: 10px;
	padding: 3px 7px !important;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	display: inline-block;
	color: #fff;
	border-radius: 10px;
}
.badge.badge-white {
	color: #666666;
	background: #ffffff;
}
.badge.badge-grey {
	color: #a2a2a2;
	background: #eeeeee;
}
.badge.badge-black {
	color: #ffffff;
	background: #666666;
}
.badge.badge-red {
	color: #ffffff;
	background: #ed5441;
}
.badge.badge-green {
	color: #ffffff;
	background: #51d466;
}
.badge.badge-lblue {
	color: #ffffff;
	background: #32c8de;
}
.badge.badge-blue {
	color: #ffffff;
	background: #609cec;
}
.badge.badge-orange {
	color: #ffffff;
	background: #f8a841;
}
.badge.badge-yellow {
	color: #ffffff;
	background: #fcd419;
}
.badge.badge-purple {
	color: #ffffff;
	background: #cb79e6;
}
.badge.badge-rose {
	color: #ffffff;
	background: #ff61e7;
}
.badge.badge-brown {
	color: #ffffff;
	background: #d08166;
}
.btn .badge {
	position: absolute;
	top: -13px;
	right: -8px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-top-2{
	margin-top: 2px;
}
.t-20{
  top: 20px;
}
.r-20{
  right: 20px;
}
.r-30{
  right: 30px;
}
.b-20{
  bottom: 20px;
}
.l-20{
  left: 20px;
}
.l-15{
  left: 15px;
}
/* Social Media */
// .facebook {	background: #3280e7; }
// .facebook:hover { background: #134fa0; }
// .twitter { background: #32c8de;}
// .twitter:hover {	background: #188392;}
// .google-plus {background: #f96f4a;}
// .google-plus:hover {	background: #eb6440;}
// .linkedin  {	background: #729fda;}
// .linkedin:hover {background: #3069b6;}
// .pinterest {	background: #ed5441;}
// .pinterest:hover { background: #b72411;}
// .dropbox {background: #32c8de;}
// .dropbox:hover {	background: #188392;}
// .bitcoin {background: #f8a841;}
// .bitcoin:hover {	background: #cc7607;}
// .foursquare {background: #22bed4;}
// .foursquare:hover {background: #146f7c;}
// .flickr { background: #ff61e7;}
// .flickr:hover {	background: #fa00d4;}
// .github {background: #666666;}
// .github:hover {	background: #333333;}
// .instagram {	background: #d6917a;}
// .instagram:hover {background: #b35637;}
// .skype {background: #32c8de;}
// .skype:hover {background: #188392;}
// .tumblr {background: #84a1c8;}
// .tumblr:hover {background: #476d9f;}
// .vimeo {background: #32c8de;}
// .vimeo:hover {background: #188392;}
// .dribbble{background: #ff2edf;}
// .dribbble:hover {background: #c700a9;}
// .youtube {background: #ed5441;}
// .youtube:hover {	background: #b72411;}
